if (everyauth.loggedIn)
  p Привет, #{user.name}
else
  .colorHeader 
    h3 Авторизация:
  .comment
    p Привет. Вы не авторизованы, вы можете сделать это с помощью этих кнопок:
    #signInArea
      a.signIn(href="/auth/twitter")
        img(src="/images/twitter.png", alt="Twitter", title="Авторизоваться через Twitter")
      a.signIn(href="/auth/vkontakte")
        img(src="/images/vkontakte.png", alt="Vkontakte", title="Зайти через Vkontakte")
      a.signIn(href="/auth/facebook")
        img(src="/images/facebook.png", alt="Facebook", title="Авторизоваться используя Facebook")
    .clear
  h3 Что это?
  p Cервис тематических групповых чатов. Пользователи создают чаты-обсуждения, ограниченные по времени, настраивают доступ и оповещают заинтесованных людей отправляя им уникальную ссылку обсуждения, а в процессе обсуждения имеют возможность оценить идеи других участников
  h3 Для чего использовать?
  p Сервис можно использовать для структурированных удаленных обсужений. Можно обсуждать возникающие в работе проблемы, новый функционал, использовать как временный чат с людьми из разных контакт-книг (мессанджеров, социальных сетей), но лучше всего подходит сервис для мозговых штурмов — когда силами коллектива нужно придумать и выделить наиболее лучшее предложение. Это может быть обсуждение подарков, каких либо изменений в работе или быту, выбор хорошего кафе в вашем городе и под вашу ситуацию и много другое. 
  h3 Как начать?
  p Если вы хотите создать свое обсуждение, вам надо зарегистрироваться при помощи кнопок выше. Регистрация проходит в 2 клика. Пользователю, которому пришла ссылка на обсуждение нужно только ввести имя, которое будет отображаться в списке участников и он в обсуждении!
  h3 Как пользоваться?
  p После регистрации в верхнем меню выбрать пункт "Новый шторм", указать длительность (обычно обсуждения занимают полчаса-час), настроить приватность (будет ли результат чата доступен после его завершения) и указать тему.
