!!! 5
html
  head
    title Brainstormer
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')
    if ((typeof isChat !== "undefined")&&(isChat === true))
      script(src="/socket.io/socket.io.js")
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/Utils.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/client.js')
    script
      Utils.setCookie('sid', "#{sessionId}");
  body
    #wrap
      #top
        #top-wrap
          #top-left &nbsp
          #top-center
            if (everyauth.loggedIn)
              ul
                li 
                  a(href="/brainstorms/new") Новый штурм
                li
                  a(href="/brainstorms") Мои штурмы
                li
                  a(href='/logout') Выход
            br
            #logoDiv 
              a(href="/") 
                img(src="/images/brainstorm-logo.png")
          #top-right &nbsp
        .clear
      #middle
        #middle-left &nbsp
        #middle-center
          != body
        #middle-right
          if typeof isChat != 'undefined'        
            if isChat == true
              #counter    
                p До завершения:
                h3#countdown
            h2 Участники
            #members
              if typeof brainstorm != 'undefined'
                each member in brainstorm.members
                  p.gray=member.name
        .clear
    #pre-bottom
      #bottom
        #bottom-wrap
          #bottom-left
            p All rights reserved (c) 2011
          #bottom-center
            p Тут веселая ссылка
          #bottom-right
            p Developed by asci
          .clear