input(type="hidden", name="album[_id]", value="#{album._id}")
p Имя (в URL)
input(type='text', name='album[link]', value="#{album.link}")
p Заголовок
input(type='text', name='album[title]', value="#{album.title}")
p Описание
textarea(name='album[description]')= album.description
br
input(type='submit', value='Отправить')