a(href="/users/new") Новый пользователь
each user in users
  p= user.name
    a(href="/users/#{user.link}") Посмотреть
    |
    a(href="/users/#{user.link}/edit") Редактировать
    |
    a(href="/users/#{user.link}/delete") Удалить