h2=album.title
p!=album.description
each photo in photos
  h2=photo.title
  p=photo.album_id
  p=photo.description
  img(src="/images/photos/#{photo.thumb}")  
  if admin
    p
      a(href="/photos/#{photo.link}") Посмотреть
      |
      a(href="/photos/#{photo.link}/edit") Редактировать
      |
      a(href="/photos/#{photo.link}/delete") Удалить        