.submit {
	width: 120px;
	height: 32px;
	padding: 0 0 2px;
	font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #555;
	border: 1px solid #BBB;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #A5A5A5;
	text-shadow: 1px 1px #FAFAFA;
	box-shadow:
		inset 0 1px #F5F5F5,
		inset 1px 0 #EDEDED,
		inset -1px 0 #EDEDED,
		inset 0 -1px #E7E7E7;
	background-color: #E3E3E3;
	margin-top:10px;
}
.submit::-moz-focus-inner{border:0}
.submit:hover {
	border-top: 1px solid #C2C2C2;
	background-color: #E9E9E9;
}
.submit:active {
	border: 1px solid #B9B9B9;
	border-top: 1px solid #959595;
	border-bottom: 1px solid #CACACA;
	background: #E3E3E3;
}

#sendForm {
    text-align:right;
    padding-bottom:24px;
}
#sendForm #text {
    margin: 0 0 0px;
    border-radius: 4px;
    font: 14px Arial, Tahoma, sans-serif;
    color: #444;
    width: 488px;
    height: 120px;
    padding: 2px 4px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
    outline: none;
}
#sendForm #text:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

.like {
	height: 24px;
	font: 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #555;
	border: 1px solid #BBB;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #A5A5A5;
	text-shadow: 1px 1px #FAFAFA;
	box-shadow:
		inset 0 1px #F5F5F5,
		inset 1px 0 #EDEDED,
		inset -1px 0 #EDEDED,
		inset 0 -1px #E7E7E7;
	background-color: #E8E8E8;
	font-weight: bold;
}
.like::-moz-focus-inner{border:0}
.like:hover {
	border-top: 1px solid #C2C2C2;
	box-shadow:
		inset 0 1px #EFEFEF,
		inset 1px 0 #EDEDED,
		inset -1px 0 #EDEDED,
		inset 0 -1px #EDEDED
	;
	background-color: #EFEFEF;
}
.like:active {
	top: 1px;
	border: 1px solid #B9B9B9;
	border-top: 1px solid #959595;
	border-bottom: 1px solid #CACACA;
	background: #E3E3E3;
	box-shadow: inset 0 1px 2px #B9B9B9;
}
.comment {
    width: 520px;
    padding: 18px 24px 3px 24px;
    margin: 12px 0;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #444;
}
.comment .commentName {
	position: relative;
	display: block;
	text-align: right;
	left: -230px;
	margin: 0;
	width: 190px;
	line-height: 0;
	top: 2px;
}
.comment .commentDate {
	position: relative;
	display: block;
	text-align: right;
	left: -140px;
	margin: 0;
	width: 100px;
	line-height: 0;
	top: 22px;
	font-size: 10px;
	color:#aaa;
}
.comment .commentText {
	float: left;
	width: 77%;
}
.comment .commentLikes {
	float: left;
	width: 23%;
	text-align: right;
}
.comment .commentLikes p {
	display: inline-block;
	height: 22px;
	min-width: 0;
	font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
	margin: 0;
	border-radius: 3px;
	color: #555;
	border: 1px solid #BBB;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #A5A5A5;
	text-shadow: 1px 1px #FAFAFA;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
}
#brainstormHead {
    width: 520px;
    padding: 24px 24px 24px 24px;
    margin: 12px 0;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #444;
}
#brainstormHead .theme {
	position: relative;
	display: block;
	text-align: right;
	left: -140px;
	margin: 0;
	width: 100px;
	line-height: 0;
	top: 2px;
}
.colorHeader {
    width: 520px;
    padding: 10px 24px 0px 24px;
    margin: 0px 0;
    background: #6699bb;
    border: 1px solid #CAD8DE;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #FEFEFE;
}
.colorHeader h3{
    color: #FEFEFE;
    margin-bottom:0.5em;
}
.goneMessage {
	text-align: center;
}
#endMessage {
	text-align: center;	
}
.gray {
	color: #666666;
}
#members p {
	margin:0;
	padding:0;
}
#logoDiv {
	text-align: center;
}
.title {
	text-decoration:none;
	color:#333;
}
