html, body {
	height:100%;
	background: url('../images/diagonal-noise.png') repeat;
	color:#000;
}
h1, h2{color:#000;}
a {color:#555;}
h3 {
	color:#000;
}
img {border:none;}
.nounderline{text-decoration:none;}
.control {background-color:#222;width:100%;}
.clear {clear:both;}
.show {display:inherit;}
.hide {display:none;}
a:hover{color:#222;}

#wrap {
	height:100%;
	min-height:100%;
	margin: 0 auto;
}
html>body #wrap {
	height:auto;
	margin-bottom: -75px;
}
#pre-bottom {clear:both;}
#top {
	margin:0 auto;
	margin-bottom: 32px;
	width:100%;
}
#top-wrap {
	margin:0 auto;
	padding-top: 6px;
	width:1000px;
}
#middle{
	margin:0 auto;
	width:1000px;
	padding-bottom: 100px;
}
#bottom{
    height:64px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 100%;
}
#bottom-wrap {
	margin:0 auto;
	width:70%;
}
#top-left {
	float:left;
	width:20%;
}
#top-center {
	float:left;
	width:57.6%;
	text-align:center;
}
#top-right {
	float:right;
	width:20%;
	padding-top: 14px;
	text-align:right;
}
#top-center ul {
	list-style:none;
}
#top-center li {
    margin-left: 14px;
    padding-left: 14px;
	color:#000;
	display:inline;
}
#top-right a{
	color:#aaa;
}
#top-right a:active{
	color:#000;
}
#top-right a:hover{
	color:#000;
}
#middle-left {
	float:left;
	width:20%;
}
#middle-left-container {
	padding-right: 10px; 
}
#middle-left ul {
	list-style:none;
}
#middle-left li {
	margin-top:4px;
    padding-left: 16px;
    font-style: italic;
	color: #b3b3b3;
}
#middle-left li a{
    border-bottom: 1px dashed #B3B3B3;
    color: #B3B3B3;
    font-style: italic;
    text-decoration: none;
}
#middle-center {
	float:left;
	width:57.6%;
	padding-right:24px;
}
#middle-center img {
	margin-right:32px;
	margin-bottom:32px;
}
#middle-center-picture {
	float:left;
	width:100%;
}
#middle-right {
	float:right;
	width:20%;
}
#bottom-left {
	float:left;
	width:20%;
}
#bottom-center {
	float:left;
	width:60%;
	text-align:center;
}
#bottom-center ul {
	list-style:none;
}
#bottom-center li{
	display:inline;
}
#bottom-right {
	float:right;
	width:20%;
	text-align:right;
}
#authLink,#countdownHide {
	display:none;
}
