input(type="hidden", name="brainstorm[link]", value="#{brainstorm.link}", required)
p Длительность (в минутах): 
  input(type="number", min="1", name="brainstorm[duration]", max="60", step="1", value="30")
p Публичный: 
  input(type="checkbox", name="brainstorm[public]", value="true", checked)
  input(type="hidden", name="brainstorm[active]", value="true", checked)
p Тема штурма: 
#sendForm
  textarea#text(class="field", name="brainstorm[title]")
  input#send(type="submit", value="Отправить", class="submit")