.colorHeader 
  h3 Мои брейнштормы:
each brainstorm in brainstorms
  .comment
    p.commentName
      a(href="/brainstorms/#{brainstorm.link}") Посмотреть
    p.commentDate
      a(href="/brainstorms/#{brainstorm.link}/delete") Удалить
    h3
      a.title(href="/brainstorms/#{brainstorm.link}")= brainstorm.title
if brainstorms.length == 0
  .comment
    p Вы еще не создали ни одного шторма. Сделайте это прямо 
      a(href="/brainstorms/new") сейчас