.colorHeader
  h3 Тема:
#brainstormHead
  h3= brainstorm.title
  p#authLink= brainstorm.link
p#countdownHide= brainstorm.countdown
.colorHeader
  h3 Хорошие идеи:
#mostLiked
  each comment in brainstorm.comments
    if (comment.likes >= Math.round(brainstorm.members.length / 2))
      .comment
        p.commentText= comment.text
        .commentLikes
          p= comment.likes
        .clear
.colorHeader
  h3 Обсуждение:
#messages
  each comment in brainstorm.comments
    .comment
      p.commentName= comment.name
      p.commentDate= comment.date.toLocaleTimeString()
      p.commentText= comment.text
      .commentLikes
        p= comment.likes
      .clear
.colorHeader
  h3 Ваше предложение:
.comment
  if isChat
    #sendForm
      textarea#text(class="field", rows="1", cols="2")
      input#send(type="button", value="Отправить", class="submit")
  else
    form(method='post', action='/brainstorms/#{brainstorm.link}/comment')
      input(type="hidden", name="comment[name]", value="Anonimous")
      input(type="hidden", name="comment[likes]", value="0")
      input(type="hidden", name="comment[date]", value="#{new Date()}")
      #sendForm
        textarea#text(class="field", name="comment[text]")
        input(type="submit", value="Отправить", class="submit")
  